.landingSquare {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #539B57;
    border-radius: 18px;
}

#landingLineDiv1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
}

#landingLineDiv2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;

}

.landingP {
    color: white;
    font-size: 40px;
    max-width: 40vw;
    overflow: hidden;
}

.linkLanding {
    height: calc(calc(55vh - 145px) / 2);
    border-radius: 18px;
}

#landingComponent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 25px;
}

@media screen and (max-width: 550px) {
    #landingLineDiv1 {
        flex-direction: column;
        gap: 20px;
    }

    #landingLineDiv2 {
        flex-direction: column;
        gap: 20px;

    }

    .linkLanding {
        width: 100%;
        height: 100%;
    }
    .landingP{
        max-width: initial;
    }
    #landingComponent{
        gap: 20px;

    }
}