#hamburgerImg {
    width: 50px;
    border: none;
}

#hamburger {
    display: none;
}

#mobileBottomBar {
    position: sticky;
    height: 70px;
    display: none;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #424242;
    bottom: 0px;
    justify-content: space-between;
    padding-left: 5px;
}

.bottomBarLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #737791;
    margin: 0;
    height: 100%;
    justify-content: space-around;
}

.menuHidden {
    width: 0px;
}

.menuHidden * {
    display: none;
}

@media screen and (max-width: 1080px) {
    #hamburger {
        display: block;
    }

    #links {
        display: none;
    }

    #bettingcroctitle {
        display: none;
    }

    #switchThemeHome {
        display: none;
    }

    #leftBar {
        display: none;
    }

    #rightBar {
        display: none;
    }

    #mainVue {
        width: 100%;
    }

    #mobileBottomBar {
        display: flex;
        z-index: 150;

    }

    #mainVue {
        min-height: calc(100vh - 140px);
    }

    .menu {
        width: 100vw;
    }



    #menuMobile {
        position: fixed;
        top: 0px;
        right: 0px;
        height: calc(100vh - 70px);
        z-index: 100;
        transition: width 0.6s;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #accountLink {
        display: none;
    }

    .bottomBarLink {
        align-items: center;
        height: fit-content;
    }

    .linkMobileBottomBar{display: flex;
    flex-direction: column;
    justify-content: center;}
    

}

@media screen and (max-width: 550px) {
    #bettingCrocTitle {
        display: none;
    }
    #topBar {
        padding: 10px;
    }

}