#hamburgerImg {
    width: 50px;
    border: none;
}

#hamburger {
    display: none;
}

#mobileBottomBar {
    position: sticky;
    height: 70px;
    display: none;
    width: 100%;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #424242;
    bottom: 0px;
    justify-content: space-between;
    padding-left: 5px;
}

.bottomBarLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #737791;
    margin: 0;
    height: 100%;
    justify-content: space-around;
}


