#stakeBox {
    /* Frame 1000002771 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    height: 56px;

    width: 100%;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#graduation {
    /* Frame 1000002769 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 162px;

    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


#stakeTitleP {

    /* H1 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    /* identical to box height, or 160% */

    /* Primary/Dark Shade */


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}




#stakeJauge {
    /* Today Sales */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    width: 95%;
    z-index: 50;
    height: 90px;


}

#line1Jauge {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 6px;

}

#inputStake {
    width: 146px;
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    border-color: #c0c4c7;
}

#jauge {
    display: flex;
    flex-direction: column;
    position: sticky;
    z-index: 45;
    top: 70px;
    padding: 20px 25px;
    border-radius: 20px;

}

#rangeInput {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background-color: #539B57;
}

input[type="range"]::-moz-range-track {
    height: 6px;
    background-color: #539B57;

}

input[type="range"]::-webkit-slider-thumb {
    margin-top: -5px;
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background-color: #539B57;
}

input[type="range"]::-moz-range-thumb {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #539B57;
    border: none;
}

@media screen and (max-width: 550px) {

    #stakeBox {
        gap: unset;
        height: unset;
        flex-direction: column;
        align-items: center;
    }

    #line1jauge {
        margin-bottom: 4px;

    }

    #graduation {
        height: unset;
        gap: unset;
    }

    #graduation p {
        font-size: 10px;
    }



    #stakeJauge {

        height: fit-content;
    }


    #stakeTitleP {
        font-size: 16px;
        height: fit-content;
        line-height: unset;
    }

    #inputStake {

        height: 18px;
    }

    #jauge {
        padding: 6px 15px;
        gap: 6px;

    }
}