#oneBetAddress{
    position:absolute;
    top: 50px; 
    left: 1500px;
}
#contractBalance{
    position:absolute;
    top: 150px; 
    left: 1500px;
}
#owner{
    position:absolute;
    top: 100px; 
    left: 1500px;
}
#txt1{
    position:absolute;
    top: 150px; 
    left: 700px;
}
#betNumber{
    position:absolute;
    top: 165px; 
    left: 850px;
}
#newFees{
    position:absolute;
    top: 700px; 
    left: 1300px;
}
#setFees{
    position:absolute;
    top: 700px; 
    left: 1450px;
}
#fees{
    position:absolute;
    top: 740px; 
    left: 1300px;
}
#toClaimForOwner{
    position:absolute;
    top: 770px; 
    left: 1300px;
}
#claimRewards{
    position:absolute;
    top: 780px; 
    left: 1500px;
}
#txt2{
    position:absolute;
    top: 600px; 
    left: 1300px;
}
#lastBet{
    position:absolute;
    top: 50px; 
    left: 700px;
}