#under2leftBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 80%;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: 25px;
}



#categories {
  /* Frame 1000002779 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 100%;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}


#titleLeftBar {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;


  flex: none;
  order: 0;
  flex-grow: 0;
}

.optionsLeftBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  gap: 12px;

  width: 90%;


}

.optionsLeftBarP {


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  /* identical to box height */

  /* Texte gris */
  color: #737791;
  margin: 0;

}

.optionsLeftBarPDark {


  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  /* identical to box height */

  /* Texte gris */
  color: #d5d5d5;
  margin: 0;

}

.logoImage {
  width: 15px;
  height: 15px;
}

.optionsLeftBarD {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 24px;

  width: 90%;

  /* Vert */
  /*background: #539B57;*/

  /* Shadow */
  border-radius: 16px;
  border: solid;
  border-width: 1px;
  border-color: #F4F7F9;

}


#categoriesD {
  /* Frame 1000002779 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 100%;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.twitter-timeline {
  width: calc(21.875vw - 30px);
  max-height: calc(100vh - 190px);
  margin-top: 10px !important;
}

::-webkit-scrollbar {
  height: 12px;
  width: 3px;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #393812;
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
  background: #000;
}