@font-face {
  font-family: 'Roboto';
  src: local('MyFont'), url(./Roboto-Regular.ttf)
}

@font-face {
  font-family: 'Poppins';
  src: local('MyFont'), url(./Poppins-Regular.ttf)
}

#bettingcroc {
  position: relative;
  width: 1920px;
  height: 1300px;

  /* Background */
  background: #F4F7F9;
}

#topBar {
  /* top bar */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 28px;
  gap: 137px;
  isolation: isolate;

  position: fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;

  /* Blanc */
  background: #FFFFFF;
  border: solid;
  border-width: 1px;
  border-color: #F4F7F9;
}

#bettingCrocTitle {
  width: 169px;
  height: 46px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#crocoImage {
  width: 56.79px;
  height: 56px;

}

#logo {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 17px;

  width: 242.79px;
  height: 56px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#topLeft {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 140px;

  width: 739.79px;
  height: 56px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

#links {

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 73px;

  width: 357px;
  height: 25px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#listBetsTitle {
  width: 73px;
  height: 25px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Texte noir */
  color: #151D48;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#decentraBetTitle {
  width: 100px;
  height: 25px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Texte gris */
  color: #737791;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#classementTitle {

  width: 77px;
  height: 25px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Texte gris */
  color: #737791;


  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.accountLogo {
  width: 60px;
  height: 60px;

  border-radius: 16px;
}

#topRight {
  display: flex;
  flex-direction: row;
}

#leftBar {

  position: fixed;
  z-index: 100;
  width: 345px;
  height: 1230px;
  left: 0px;
  top: 70px;
  background: #FFFFFF;
  border: solid;
  border-width: 1px;
  border-color: #F4F7F9;
}

#rightBar {

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: fixed;
  z-index: 100;
  width: 420px;
  height: 1300px;
  right: 0px;
  top: 70px;

  /* Blanc */
  background: #FFFFFF;
  border: solid;
  border-width: 1px;
  border-color: #F4F7F9;
}

.betComplet {
  /* Frame 1000002782 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  position: relative;
  top: 90px;

}

#underLeftBar {
  /* Frame 1000002777 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 50px;

  position: absolute;
  left: 12.26%;
  right: 14.7%;
  top: 3.24%;
  bottom: 27.97%;


}

#connectButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#under2leftBar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 252px;
  height: 971.19px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#categories {
  /* Frame 1000002780 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 240px;
  height: 515.59px;


  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

#popular {
  /* Frame 1000002779 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 252px;
  height: 311.6px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}



#stakeJauge {
  /* Today Sales */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;


  z-index: 100;
  width: 1093px;
  height: 90px;


  background: #FFFFFF;
}

#superStakeJauge {
  /* Today Sales */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  position: fixed;
  z-index: 100;
  width: 1155px;
  height: 100px;
  left: 345px;
  top: 70px;

  background: #FFFFFF;
  justify-content: center;
  border: solid;
  border-width: 1px;
  border-color: #F4F7F9;
}


#stakeBox {
  /* Frame 1000002771 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1093px;
  height: 56px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  /* Frame 1000002771 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1093px;
  height: 56px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#jaugeDiv {
  /* Frame 1000002770 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 917px;
  height: 56px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

#enterStakeButton {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;

  width: 136px;
  height: 40px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#graduation {
  /* Frame 1000002769 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 162px;

  width: 917px;
  height: 24px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#range {

  width: 917px;
  height: 32px;


}

#rangeInput {
  width: 100%;
}

#mainVue {

  /* Frame 1000002782 */

  /* Auto layout */

  position: absolute;
  width: 1084px;
  left: 381px;
  top: 100px;



}

#optionsBox {

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 50px;

  width: 1022px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  justify-content: space-between;

}

#superOptionPool {
  /* Todays Sales */

  width: 1084px;
  height: 200px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#optionsPool {
  /* Today Sales */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 31px;
  gap: 10px;

  position: absolute;
  width: 1084px;
  height: 200px;
  left: 0px;
  top: 210px;

  background: #FFFFFF;
  border: 1px solid #F8F9FA;
  box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
  border-radius: 20px;
}

.optionPool p {
  margin: 0
}

.optionPool {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
}

#gameResults {


  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 574px;

  width: 1022px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#underGameResults {
  /* Frame 1000002737 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 120px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#superGamesResults {
  /* Frame 1000002744 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 1022px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#gameResultsP {

  width: 160px;
  height: 32px;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */

  /* Primary/Dark Shade */
  color: #05004E;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#underNameBet {
  /* Today Sales */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 31px;
  gap: 10px;

  width: 1084px;
  height: 190px;


  background: #FFFFFF;
  border: 1px solid #F8F9FA;
  box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
  border-radius: 20px;
}

#p2p1 {
  /* Frame 1000002764 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 1084px;
  height: 386px;


  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

#p2p2 {
  /* Todays Sales */

  width: 1084px;
  height: 222px;


  /* Inside auto layout */
  flex: none;
  order: 4;
  flex-grow: 0;
}

#underp2p2 {
  /* Today Sales */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 31px;
  gap: 10px;

  width: 1084px;
  height: 222px;


  background: #FFFFFF;
  border: 1px solid #F8F9FA;
  box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
  border-radius: 20px;
}

#p2pcreator {
  /* Todays Sales */

  width: 532px;
  height: 386px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#underp2pcreator {
  /* Today Sales */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 30px;
  gap: 10px;


  width: 532px;
  height: 386px;

  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
  border-radius: 20px;
}

#underp2pfinder {
  /* Today Sales */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 30px;
  gap: 10px;


  width: 532px;
  height: 386px;

  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
  border-radius: 20px;
}

#p2pfinder {
  /* Todays Sales */

  width: 532px;
  height: 386px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#underp2pfinder {
  /* Today Sales */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 30px;
  gap: 10px;


  width: 532px;
  height: 386px;

  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
  border-radius: 20px;
}

#countryLeagueDate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#optionsSchedule {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#inputStake {
  width: 146px;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
  border-color: #c0c4c7;
}

.coteMainDiv {
  display: flex;
  flex-direction: row;
}

#topRightBar {
  /* Frame 1000002772 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  width: 420px;
  height: 85px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#underTopRightBar {
  /* Frame 1000002755 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;


  width: 420px;
  height: 25px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#panierP {
  /* Basket */


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Bleu */
  color: #539B57;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#myBetsP {
  /* Live */


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Texte gris */
  color: #737791;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#bottomRightBar {
  /* Frame 1000002774 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 25px;
  gap: 10px;
  z-index: 101;
  position: fixed;
  width: 420px;
  height: 220px;
  right: 0px;
  bottom: 0px;

  /* Bloc noir */
  background: #373F51;
}

#underBottomRightBar {
  /* Frame 1000002773 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 370px;
  height: 74px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#betButton {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  gap: 10px;

  width: 370px;
  height: 40px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  bottom: 3px
}

#buttonBetter {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 370px;
  height: 40px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;

}

#approveButton {

  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  gap: 10px;

  width: 370px;
  height: 40px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  bottom: 3px;

}

#inputLine {
  /* Frame 1000002785 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 370px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#gainsLine {
  /* Frame 1000002786 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 370px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#inputP {
  /* Input */

  width: 37px;
  height: 32px;

  /* Titre */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  /* identical to box height, or 200% */

  /* Gris clair */
  color: #F4F7F9;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#inputP2 {
  /* 100$ */


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Gris clair */
  color: #F4F7F9;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#gainsP {
  /* Gains */

  width: 41px;
  height: 32px;

  /* Titre */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;

  /* identical to box height, or 200% */

  /* Gris clair */
  color: #F4F7F9;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#gainsP2 {
  /* 110$ */



  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Gris clair */
  color: #F4F7F9;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#betMaker {
  /* Today Sales */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 31px;
  gap: 10px;

  width: 420px;
  height: 220px;

  /* Bleu */
  background: #539B57;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  justify-content: space-around;
}

#line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}

#buttonApprover {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 370px;
  height: 40px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#approveP {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Blanc */
  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#betP {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Blanc */
  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#divSearchP2P {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: column;

  padding: 7px;
  gap: 10px;

  width: 472px;
  height: 50px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

#buttonSearchP2P {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;

  width: 472px;
  height: 50px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

#inputLine2P2PFinder {
  /* Frame 1000002783 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 472px;
  height: 50px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#titleP2pFinder {
  /* Frame 1000002744 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 472px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}



#findp2pP {
  /* Find P2P */

  /*width: 81px;*/
  height: 32px;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */

  /* Primary/Dark Shade */
  color: #05004E;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}



#inputLine1P2PFinder {
  /* 4 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  gap: 24px;

  width: 472px;
  height: 50px;

  /* Gris clair */
  background: #F4F7F9;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#inputP2pFinder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 472px;
  height: 116px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

#stakeTitleP {
  width: 62px;
  height: 32px;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */

  /* Primary/Dark Shade */
  color: #05004E;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#stakeTitle {
  /* Frame 1000002744 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 1093px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#buttonRefreshP2PFinder {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;

  width: 50px;
  height: 50px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  bottom: 3px;
  right: 6px;
}

#refreshImage {
  width: 19.81px;
  height: 23.27px;
}

.hidden {
  display: none;
}

#option1P {


  /* Titre */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  /* identical to box height, or 200% */

  /* Primary/Dark Shade */



  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#option2P {



  /* Titre */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;

  /* identical to box height, or 200% */

  /* Primary/Dark Shade */


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.optionDiv {
  width: 300px;
  height: 52px;

  text-align: center;
  color: #05004E;
}

.headerTitle {
  width: 136px;
  height: 32px;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */

  /* Primary/Dark Shade */
  color: #05004E;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#schedule {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;

  width: 121px;
  height: 52px;
  display: flex;
  justify-content: center;

  /* Gris clair */
  background: #F4F7F9;
  border-radius: 14px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#scheduleP {



  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;

  /* identical to box height, or 123% */

  /* Texte gris */
  color: #737791;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  text-align: center;
  position: relative;
  top: 9px;
}

.optionP {
  position: relative;
  top: 8px;
}

#buttonRefreshP2PFinderButton {
  width: 50px;
  height: 50px;
  border-radius: 8px;

}

#minBet {
  height: 50px;
  width: 405px;
  border-radius: 10px;
  border: solid;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0px;
  background: #F4F7F9;
  padding: 12px 20px;
}

#superButtonSearchP2P {
  order: 2
}

#searchP {
  color: #FFFFFF;
  font-size: 18px;
  position: relative;
  top: 3px;
}

.teamTitle {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: #ECE572;
  position: relative;
  bottom: 3px;
  right: 6px;
  ;
}

.buttonTeamTitle {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  background-color: transparent;
  border-color: transparent;
}

#superNewP2P {
  /* Frame 1000002744 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 472px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#newP2P {
  /* Frame 1000002738 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 574px;

  width: 472px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

#underNewP2P {
  /* Frame 1000002737 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;

  width: 82px;
  height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#newP2PP {
  /* New P2P */

  width: 102px;
  height: 32px;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */

  /* Primary/Dark Shade */
  color: #05004E;
}

#cote {
  order: 0;
  width: 472px;
  height: 50px;
  background: #F4F7F9;
  border-radius: 10px;
  border: none;
  padding: 12px 20px;
}

#selectCreateNewP2P {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  grid-gap: 24px;
  gap: 24px;
  width: 472px;
  height: 50px;
  background: #F4F7F9;
  border-radius: 10px;
  flex: none;
  flex-grow: 0;
  flex-grow: 0;
}

#inputsP2P {
  /* Frame 1000002763 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 472px;
  height: 248px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#buttonCreateP2P {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;

  width: 472px;
  height: 50px;
  border-radius: 10px;
  /* Vert */
  background: #ECE572;


  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  position: relative;
  bottom: 2.5px;
  right: 5.5px;
}

#buttonCreateP2Pbutton {

  width: 472px;
  height: 50px;
  border-radius: 10px;
}

#superButtonCreateP2Pbutton {
  flex: none;
  order: 3;
  flex-grow: 0;
  background-color: transparent;
  border: transparent;
}

#buttonCreateP2PP {
  color: #000000;
  font-size: 18px;
  position: relative;
  top: 5px;
}

#publicSwitchButton {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  background-color: #539B57;
  border: none;
  color:white;
}

#adressAuthorizedInput {
  width: 360px;
  height: 50px;
  border-radius: 10px;
  border: solid;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0px;
  background: #F4F7F9;
  padding: 12px 20px;
}

#authorizedDiv {
  order: 2;
  width: 472px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.topRightDiv {
  width: 210px;
  height: 85px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topRightButton {
  width: 210px;
  height: 85px;
  border: none;
  background-color: transparent;
}

.myBetDiv {}

#superMidRightBar {
  width: 420px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 15px;
}

.myBetDiv a {
  border-radius: 5px;
  width: 370px;
  height: 50px;
  color: white
}

.myBetUnderDiv {
  background-color: #539B57;
  border: solid;
  border-width: 10px;
  border-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 80px;
  font-size: 14px;
}

.myBetUnderDiv:hover {
  background-color: #77bd7b;

}

.myBetsDiv {
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.lineMyBetsPTitle {
  position: relative;
  left: 10px;
}

.lineMyBetsPDate {
  position: relative;
  right: 10px;
}

a:hover {

  text-decoration: none;

}

#betMakerLine1P {
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

#betMaker p {
  margin: 0;
  color: white;
}

#line2 p {

  border: solid;
  border-width: 1px;
  border-radius: 5px;

  padding: 3px;
}

#line4 {
  border: solid;
  border-width: 1px;
  border-radius: 5px;

  padding: 3px;
}

#line3 p {
  border: solid;
  border-width: 1px;
  border-radius: 5px;

  padding: 3px;
}

#cross {
  width: 27px;
  height: 27px;
  padding: 0;
  position: relative;
  bottom: 1px;
  right: 4px;
}

#crossButton {
  width: 27px;
  height: 27px;
  background-color: white;
  border: transparent;
  border-radius: 5px;
}

#line1P2POption {

  width: 254px;
  height: 32px;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */

  /* Primary/Dark Shade */
  color: #05004E;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#line2P2POption {
  width: 1022px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#line3P2POption {
  width: 1022px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#p2p2Box2 {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#buttonCoteP2P {
  height: 32px;
  width: 100px;
  border-radius: 5px;
}

#buttonDiveCoteP2P {
  height: 32px;
  width: 100px;
  border-radius: 5px;
  background-color: #ECE572;
  position: relative;
  bottom: 3px;
  right: 6px;
}

#amountBettableP {
  width: 100px;
  height: 32px;
  border: solid;
  padding: 3px;
  border-radius: 5px;
  border-width: 1px;
  text-align: right;
}

#coteP2P {
  position: relative;
  top: 2px;
}

.listBets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  width: 1084px;
  height: 1070px;
  left: 381px;



}

#box1ListBets {
  width: 1084px;
  height: 230px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  background-color: #539B57;
  border-radius: 20px;
}

#box2ListBets {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 1084px;
  height: 434px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

#box3ListBets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 1084px;
  height: 412px;


  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
#errorCoteDiv{
  order: 4;
}

@keyframes horizontal-shaking {
  0% { transform: translateX(0) }
  25% { transform: translateX(5px) }
  50% { transform: translateX(-5px) }
  75% { transform: translateX(5px) }
  100% { transform: translateX(0) }
}
.horizontal-shake {
  animation: horizontal-shaking 0.35s infinite;
  
}
#errorP{
  color: red;
}