#p2p2Box2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#p2p2Box1 {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    width: 100%;
    height: 40px;
}

#p2p2Open {
    /* Todays Sales */

    width: 100%;
    height: 222px;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin-bottom: 30px;
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px 31px;
    gap: 20px;

    height: 100%;


    border: 1px solid #F8F9FA;
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
    border-radius: 20px;
}

#p2p2 {
    /* Todays Sales */

    width: calc(50% - 10px);
    ;
    height: 396px;


    /* Inside auto layout */
    flex: none;
    order: 4;
    flex-grow: 0;
    margin-bottom: 30px;
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px 31px;
    gap: 10px;

    height: 100%;


    border: 1px solid #F8F9FA;
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
    border-radius: 20px;
}

#line1P2POption {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;

    flex: none;
    order: 0;
    flex-grow: 0;
    align-self: flex-start;
}

#line2P2POption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#line3P2POption {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 550px) {

    #p2p2Open {
        padding: 15px;
    }

    #p2p2 {
        padding: 15px;
    }
}