#classementTable {
    background-color: #d6d6d6;
    border-radius: 20px;
    padding: 6px;

}

#mainContentClassement {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 25px;
}

#classementTableDark {
    background-color: #404040;
    color: white;
    border-radius: 20px;
    padding: 6px;
}

td {
    font-family: Poppins;
    padding: 12px;

}

th {
    font-family: Poppins;
    padding: 12px;

}

#rankingsTitle {
    font-size: 35px;
}

#line1FindAPlayer {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

#addressRankingColumn {
    border-radius: 12px 0px 0px 0px;
}

#addressSearchResults {
    color: white;
}

.classementDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px 30px;
    gap: 30px;

    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.classementDivDark {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px 30px;
    gap: 30px;

    width: 100%;

    background: #000000;
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.classementDivConnect {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 23px 30px;
    gap: 30px;
    height: 220px;
    width: 100%;

    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

.classementDivConnectDark {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 23px 30px;
    gap: 30px;
    height: 220px;
    align-items: center;
    width: 100%;

    background: #181818;
    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
    border-radius: 20px;

    /* Inside auto layout */
    flex: none;
    order: 0;
}

#rankingsConnectImage {
    height: 100%;
}

#addressPlayerFinder {
    min-width: 400px;
    padding: 8px;
    border-radius: 10px;
    border: solid 1px grey;
}

#searchAddressClassement {
    padding: 17px;
    width: 203px;
    border-radius: 8px;
    border: none;
    background: #089334;
    color: #fff;
}

@media screen and (max-width: 1080px) {

    #addressRankingColumn {
        display: none;
    }

    .addressRankingCell {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    #searchAddressClassement {
        padding: 12px 17px;
    }

    .classementDiv {
        padding: 15px;
    }

    .classementDivDark {
        padding: 15px;

    }

    #line1FindAPlayer {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    #addressPlayerFinder {
        width: 100%;
        min-width: unset;
    }

    #classementTableDark {
        width: 100%;
    }

    #classementTable {
        width: 100%;
    }
}