/*#root {
  height: 100%;
}*/

@font-face {
  font-family: 'Roboto';
  src: local('MyFont'), url(./Roboto-Regular.ttf)
}

@font-face {
  font-family: 'Poppins';
  src: local('MyFont'), url(./Poppins-Regular.ttf)
}
@font-face {
  font-family: 'PoppinsBold';
  src: local('MyFont'), url(./Poppins-Bold.ttf)
}

@font-face {
  font-family: 'CCUltimatum';
  src: local('MyFont'), url(./cc-ultimatum-regular.otf)
}

.blackP {
  color: #05004E;
}

.lightGreyP {
  color: #CDCDCD;

}

.whiteP {
  color: #ffffff;

}

.blackDiv {
  background-color: #000000;
  border-color: #424242;

}

body {}

.whiteDiv {
  background: #FFFFFF;
  border-color: #F4F7F9;
}

#bettingcroc {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /* Background */
}

#bettingcrocDark {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  /* Background */
}

input:focus {
  outline: none;
}

#secondBox {
  display: flex;
  flex-direction: row;
  margin-top: 70px;
}

#topBar {
  /* top bar */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 28px;
  isolation: isolate;

  position: fixed;
  z-index: 80;
  width: 100%;
  height: 70px;
  left: 0px;
  top: 0px;

  /* Blanc */
  border-style: solid;
  border-width: 1px;
}











#listBetsTitle {
  height: 25px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Texte noir */



  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.titleInactive {
  color: #737791;
}



#decentraBetTitle {
  height: 25px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Texte gris */



  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}












.betCompletOpen {
  /* Frame 1000002782 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

}

.betComplet {
  /* Frame 1000002782 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;



}


.connectButton {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}






#enterStakeButton {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 10px;

  width: 136px;
  height: 40px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}



#range {

  width: 100%;
  height: 32px;


}











#myP2P {
  /* Today Sales */


}











.coteMainDiv {
  display: flex;
  flex-direction: row;
}

#topRightBar {
  /* Frame 1000002772 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  width: 100%;
  height: 85px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#topRightBarElse {
  width: 100%;
  height: 85px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#underTopRightBar {
  /* Frame 1000002755 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;


  width: 100%;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#inactiveRightBar {
  color: #737791;
}

#activeRightBar {
  color: #539B57;

}
.greenP{
  color: #539B57;

}
#panierP {
  /* Basket */


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Bleu */


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#myBetsP {
  /* Live */


  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;

  /* or 25px */

  /* Texte gris */



  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}



#betButton {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  gap: 10px;

  width: 370px;
  height: 40px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  bottom: 3px
}



#approveButton {

  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  gap: 10px;

  width: 370px;
  height: 40px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  position: relative;
  bottom: 3px;

}


#line1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

}



#approveP {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Blanc */
  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

#betP {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */

  /* Blanc */
  color: #FFFFFF;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

#divSearchP2P {
  /* Button get pro */

  /* Auto layout */
  display: flex;
  flex-direction: column;

  padding: 7px;
  gap: 10px;

  width: 472px;
  height: 50px;

  /* Vert */
  background: #539B57;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}





#findp2pP {
  /* Find P2P */

  /*width: 81px;*/
  height: 32px;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}






.lineModalP2PFinder p {
  margin: 0;
}

.lineModalP2PFinder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  /*border-width: 1px;
  border-style: solid;
  border-bottom: none;
  border-radius: 10px;*/

}

.lineModalP2PFinder:hover {
  background: #acadaf;

}

#modalinputLine1P2PFinder {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*min-height: 150px;*/
  background: #e4e7e9;
  border-radius: 10px;
  z-index: 60;
}

#inputP2pFinder {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 100%;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}





#refreshImage {
  width: 19.81px;
  height: 23.27px;
}

.hidden {
  display: none;
}

#optionPWinner {
  font-weight: normal;
}

#optionPLoser {}



.headerTitle {

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */

  /* Primary/Dark Shade */
  color: #05004E;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headerTitleDark {
  width: fit-content;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  /* identical to box height, or 160% */

  /* Primary/Dark Shade */
  color: #ffffff;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}


#searchP {
  color: #FFFFFF;
  font-size: 18px;
  margin: 0;
}

.teamTitle {}







.topRightDiv {
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.topRightButton {
  width: 33%;
  height: 85px;
  border: none;
  background-color: transparent;
}






a:hover {

  text-decoration: none;

}



#line2 p {

  border: solid;
  border-width: 1px;
  border-radius: 5px;

  padding: 3px;
}

#line4 {
  border: solid;
  border-width: 1px;
  border-radius: 5px;

  padding: 3px;
}

#line3 p {
  border: solid;
  border-width: 1px;
  border-radius: 5px;

  padding: 3px;
}

#cross {
  width: 27px;
  height: 27px;
}

#crossButton {
  width: 27px;
  height: 27px;
  background-color: white;
  border: transparent;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

}

button {
  cursor: pointer;
}

#buttonCoteP2P {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 100px;
  border-radius: 5px;
  border: none;
  background-color: #ECE572;
}

#buttonDiveCoteP2P {
  height: 32px;
  width: 100px;
  border-radius: 5px;
  background-color: #ECE572;

}

#amountBettableP {
  width: 100px;
  height: 32px;
  border: solid;
  padding: 3px;
  border-radius: 5px;
  border-width: 1px;
  text-align: right;
}

#coteP2P {
  margin: 0;
}








#errorCoteDiv {
  order: 4;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}

.horizontal-shake {
  animation: horizontal-shaking 0.35s infinite;

}

#errorP {
  color: red;
}










#bettingCrocImage {
  width: calc(100% - 137px);
}










.buttonTransparent {
  background-color: transparent;
  border: none;
}





.collapse {
  visibility: collapse;
}


.requestDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#orP {
  order: 2;
  margin: 0;
}

#inputLine3P2PFinder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  grid-gap: 16px;
  gap: 16px;
  width: 100%;
  height: 50px;
  order: 3;
  justify-content: space-between;
}

#myP2PBetsP {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  order: 2;
}

#messageAddFriend1 {
  color: red;
}

#messageAddFriend2 {
  color: green;
}

#accountDisplay {
  margin: 0;
  height: fit-content;
}

#allowancesMain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#allowancesMain p {
  margin: 0;
}



#hiUser {
  margin: 0;
  display: inline-block;
  text-align: center;
  font-size: 40px;
}

.mainContentAccount {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  margin-bottom: 30px;
  padding: 25px;
}





#friendAdder {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-between;
}



#loggedImage {
  width: 16px;
  height: 16px;
}

.generalsButton {
  background: #539B57;
  border-radius: 8px;
  padding: 8px;
  border: none;
}

.buttonP {
  color: white;
  margin: 0;
  font-size: 16px;
}

.accountContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}




#inputidBetToView {

  height: 50px;
  width: 405px;
  border-radius: 10px;
  border: solid;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0px;
  background: #F4F7F9;
  padding: 12px 20px;

}

.inputDecentraBet {
  height: 50px;
  width: 405px;
  border-radius: 10px;
  border: solid;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-width: 0px;
  background: #F4F7F9;
  padding: 12px 20px;
}

#divStateDecentraBet {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#line3createADecentraBet {
  display: flex;
  flex-direction: row;
  gap: 40px;
}




.friendInviterTrigger {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.buttonInviter {
  width: 120px;
  background-color: #539B57;
  border: none;
  border-radius: 10px;
  color: white;
  height: 40px;
}

.buttonInviterReverse {
  order: 1;
}

.friendInviter {
  display: flex;
  flex-direction: column;
  background-color: #acadaf;
  height: 180px;
  width: 400px;
  z-index: 100;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
}

.inputLine1FriendInviter {
  /* 4 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  gap: 24px;

  width: 100%;
  height: 35px;

  /* Gris clair */
  background: #F4F7F9;
  border-radius: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#modalinputLine1FriendInviter {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*min-height: 150px;*/
  background: #e4e7e9;
  border-radius: 10px;
  z-index: 60;
}

.lineModalP2PFinder p {
  margin: 0;
}

.lineModalFriendInviter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  padding: 16px 24px;
  /*border-width: 1px;
  border-style: solid;
  border-bottom: none;
  border-radius: 10px;*/

}

.lineModalFriendInviter:hover {
  background: #acadaf;
  display: flex;
}

.superinputLine1FriendInviter {

  display: flex;
  flex-direction: column;
  width: 80%;
  order: 0;
  height: 35px;

}

.inputMessageFriendInviter {
  width: 80%;
  outline: none;
  border: none;

  background-color: #f4f7f9;

}

.inputAddressInviter {
  background-color: #f4f7f9;
  border: none;
  outline: none;
  width: 100%;
}

.lineModalFriendInviterP {
  margin: 0;
}

.lineAddressModalFriendInviterP {
  margin: 0;
  font-size: 12px;
  color: #303030;
}

.errorMessageFriendInviter {
  margin: 0;
}

.lastLineDivFriendInviter {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sendInvitation {
  height: 35px;
  background-color: #539B57;
  border: none;
  border-radius: 8px;
  color: white;
}

#selectCreateNewP2P p {
  margin: 0;
}

#scoreDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#scoreDiv p {
  margin: 0;
}




.greyP {
  color: #808080;
}


.betStateP {
  width: fit-content;
  padding-left: 10px;
}

#optionWinner {
  border-radius: 14px;
  background-color: rgb(83, 155, 87, 0.3);
}






.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}

/*.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}*/

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



#minToBetP {
  margin: 0;
}

.divMisesAccount {
  width: 50%;
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: auto;
  gap: 5px;
}

#linkMyBets {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.superLinkMyBetsDiv {
  width: calc(50% - 10px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.linkMyBetsDiv {
  width: 100%;
  padding: 23px 30px;
  gap: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
  border-radius: 20px;
  height: 50px;
}

#divMyBetsAccountButtons {
  display: flex;
  flex-direction: row;
  gap: 20px;

}

.accountButton {
  background-color: transparent;
  border: none;
}

#accountBetsTypeActive {
  height: 32px;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

#accountBetsTypeInactive {
  height: 32px;

  /* H1 */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;


  flex: none;
  order: 0;
  flex-grow: 0;
}

.helpImage {
  height: 20px;
}


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

p {
  margin: 0;
  font-family: 'Roboto';

}

a {
  text-decoration: none;
}

img {
  vertical-align: middle;
}

.topRightButton:hover {
  cursor: pointer;
}



/* {
  border: 1px red solid;
}*/