.landingSquare1Light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: rgb(90, 179, 98);
    background: radial-gradient(circle, rgba(90, 179, 98, 1) 0%, rgba(105, 204, 114, 1) 39%, rgba(71, 218, 83, 1) 55%, rgba(255, 255, 255, 1) 100%);
    border-radius: 18px;
    padding: 0px 60px;
}

.landingSquare2Light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: rgb(255, 255, 255);
    background: linear-gradient(195deg, rgba(255, 255, 255, 1) 0%, rgba(105, 204, 114, 1) 27%, rgba(40, 194, 54, 1) 49%, rgba(71, 218, 83, 1) 72%, rgba(255, 255, 255, 1) 100%);
    border-radius: 18px;
    padding: 0px 60px;
}


.landingSquare1Dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: rgb(19, 116, 18);
    background: radial-gradient(circle, rgba(19, 116, 18, 1) 0%, rgba(38, 122, 45, 1) 28%, rgba(26, 153, 38, 1) 51%, rgba(28, 135, 37, 1) 76%, rgba(10, 10, 10, 1) 100%);
    border-radius: 18px;
    padding: 0px 60px;
}

.landingSquare2Dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(195deg, rgba(0, 0, 0, 1) 0%, rgba(38, 122, 45, 1) 28%, rgba(41, 156, 52, 1) 51%, rgba(42, 105, 47, 1) 76%, rgba(10, 10, 10, 1) 100%);
    border-radius: 18px;
    padding: 0px 60px;
}


.landingSquare3Light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: rgb(92, 255, 134);
    background: radial-gradient(circle, rgba(92, 255, 134, 1) 0%, rgba(124, 224, 133, 1) 27%, rgba(95, 226, 107, 1) 49%, rgba(100, 227, 111, 1) 80%, rgba(255, 255, 255, 1) 100%);
    border-radius: 18px;
    padding: 0px 180px 0px 60px;
}

.landingSquare3Dark {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background: rgb(18, 101, 17);
    background: radial-gradient(circle, rgba(18, 101, 17, 1) 0%, rgba(38, 122, 45, 1) 21%, rgba(25, 147, 37, 1) 44%, rgba(28, 135, 37, 1) 66%, rgba(10, 10, 10, 1) 100%);
    border-radius: 18px;
    padding: 0px 180px 0px 60px;
}

#landingLineDiv1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;
}

#landingLineDiv2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50%;

}

#landingTitle1 {
    font-size: 55px;
    font-family: PoppinsBold;
    font-weight: bold;
    color: white;
    line-height: 64px;
    width: 60%;
}

#landingTitle2 {
    font-size: 20px;
    font-family: Poppins;
    color: white;
    line-height: 24px;
    width: 60%;
}

.landingP {
    font-size: 50px;
    font-weight: 700;
    max-width: 40vw;
    overflow: hidden;
}



.landingLinkTextBox {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.landingP2 {
    font-family: Poppins;
}

#landingComponentDark {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 25px;
    background-clip: border-box;
    background-color: rgb(0, 0, 0, 0.6);
    padding: 25px;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-around;
}

#landingComponentLight {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 25px;
    background-clip: border-box;
    background-color: rgb(255, 255, 255, 0.6);
    padding: 25px;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-around;
}

#backgroundLanding {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    height: 100%;
}

#landingPBis {
    text-align: end;
}

#landingP2Bis {
    text-align: end;
    padding-left: 20px;
}

.imagesLanding {
    height: 80%;
}


@media screen and (max-width: 800px) {
    .imagesLanding {
        height: 60%;
    }

    .landingP {
        font-size: 30px;
    }

    .landingP2 {
        font-size: 16px;
    }
}



#landingTitlesDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-start;
    gap: 50px;
    padding-left: 40px;
}

.imgLinkLanding {
    width: 120px;
    height: 120px;
}

#linksLanding {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    background-color: rgb(52, 181, 58, 0.3);
    border: solid 1px #34B53A;
    border-radius: 10px;
}

.linkLanding {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    gap: 12px;
    width: 270px;
}

.linklandingPDark {
    font-size: 20px;
    font-family: PoppinsBold;
    font-weight: bold;
    color: white;
}

.linklandingPLight {
    font-size: 20px;
    font-family: PoppinsBold;
    font-weight: bold;
    color: black;
}

.linkLanding:hover {
    background-color: rgb(52, 181, 58, 0.7);
}

#linkLanding1 {
    border-radius: 10px 0px 0px 10px;
}

#linkLanding4 {
    border-radius: 0px 10px 10px 0px;
}

@media screen and (max-width: 550px) {
    #landingComponentDark {
        padding: 15px;
    }

    #landingTitlesDiv {
        padding-left: 0px;
    }

    #landingTitle1 {
        width: unset;
        font-size: 30px;
        line-height: 32px;
    }

    #landingLineDiv1 {
        flex-direction: column;
        gap: 20px;
    }

    #landingLineDiv2 {
        flex-direction: column;
        gap: 20px;

    }

    .landingP {
        max-width: initial;
    }


    .linkLanding {
        height: calc(25vh);
    }

    .landingSquare1Dark {

        padding: 20px;
    }

    .landingSquare1Light {

        padding: 20px;
    }

    .landingSquare2Dark {

        padding: 20px;
    }

    .landingSquare3Dark {
        padding: 20px;
    }

    .imagesLanding {
        height: 60%;
    }

    .landingP2 {
        font-size: 10px;
    }

    .landingP {
        font-size: 20px;
    }
    #linksLanding{
        max-width: 100%;
    }
    .imgLinkLanding{
        height: 36px;
        width: 36px;
    }
    .linkLanding{
        padding: 6px;
        height: unset;
    }
    .linklandingPDark{
        font-size: 12px;
    }
    #landingTitle2{
        font-size: 14px;
        line-height: unset;
    }
}