

.decentraBetCreatorLine {
    display: flex;
    flex-direction: row;
}

.inactiveDecentraBetCreatorButton {
    background-color: lightgray;
    border: 2px solid lightgray;
    padding: 12px;
}

.activeDecentraBetCreatorButton {
    background-color: #539B57;
    border: 2px solid lightgray;
    padding: 12px;
}

#divDecentraBetPublic {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#line1DivDecentraBetPublic {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#publicButtonDecentraBetCreator {
    border-radius: 10px 0px 0px 10px;
}

#privateButtonDecentraBetCreator {
    border-radius: 0px 10px 10px 0px;
}