#p2pcreator {
    /* Todays Sales */
    width: 100%;
    height: 100%;
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 23px 30px;
    gap: 10px;
    border: 1px solid #F8F9FA;

    box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
    border-radius: 20px;
}

#authorizedDiv {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#inputsP2P {
    /* Frame 1000002763 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#selectCreateNewP2P {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    gap: 24px;

    width: 100%;
    height: 50px;

    /* Gris clair */
    background: #F4F7F9;
    border-radius: 10px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#adressAuthorizedInput {
    order: 3;
    width: 360px;
    height: 50px;
    border-radius: 10px;
    border: solid;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0px;
    background: #F4F7F9;
    padding: 12px 20px;
}

#cote {
    order: 0;
    width: 100%;
    height: 50px;
    background: #F4F7F9;
    border-radius: 10px;
    border: none;
    padding: 12px 20px;
}

#superNewP2P {
    /* Frame 1000002744 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px;
    gap: 20px;

    width: 100%;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#newP2P {
    /* Frame 1000002738 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 574px;

    width: 472px;
    height: 32px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#underNewP2P {
    /* Frame 1000002737 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 82px;
    height: 32px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#newP2PP {
    /* New P2P */

    width: 102px;
    height: 32px;

    /* H1 */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;

}



#buttonCreateP2P {
    /* Button get pro */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 10px;

    width: 472px;
    height: 50px;
    border-radius: 10px;
    /* Vert */
    background: #ECE572;


    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    position: relative;
    bottom: 2.5px;
    right: 5.5px;
}




#publicSwitchButton {
    order: 2;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #539B57;
    border: none;
    color: white;
}

#buttonCreateP2Pbutton {
    order: 4;
    background: #ECE572;
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}


#buttonCreateP2PP {
    color: #000000;
    font-size: 18px;
    margin: 0;
}

@media screen and (max-width: 800px) {
    #p2pcreator {
        /* Todays Sales */
        width: 100%;
        order: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 15px;
        gap: 10px;
        box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.501967);
        border-radius: 20px;
    }

    #authorizedDiv {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    #inputsP2P {
        height: unset;
    }

    #adressAuthorizedInput {
        width: 100%;
        height: 30px;
    }

    #cote {

        height: 30px;
    }

    #selectCreateNewP2P {

        height: 30px;
    }

    #publicSwitchButton {

        height: 30px;
    }

    #buttonCreateP2Pbutton {

        height: 40px;
    }
}